# Name of Kontent.ai project: SDK Integration tests

INTEGRATION_ENVIRONMENT_ID=6bdd84fc-f71e-01a0-0ba6-79ce07af7f9b
# INTEGRATION_DELIVERY_HOST=deliver.kontent.ai
# INTEGRATION_DELIVERY_PROTOCOL=https
